<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> FreeWill Daily News </title>

    </head>

    <body>

        <form action="" method=POST> {% csrf_token %}<form>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="mb-3">
            <label class="form-label">Password Again</label>
            <input type="password" class="form-control" name="passwordagain">
        </div>

        <input type="Submit" value="sign up" class="btn btn-secondary" />



    </body>
</html>           