html,body {

height: 100%;
background: linear-gradient(to top right, #8e9897 , #8e9897 );
}   

header {
background-color: #333333;
color: #fff;
padding: 20px;
border-radius: 25px;
}

nav {
float: middle;
text-align: center;
}

nav ul {
display: inline-block;
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin-top: 4px;
margin-bottom: 4px;
}

nav li a {
color: #fff;
text-decoration: none;
font-size: 15px;
font-weight: bold;
margin-left: 50px;
margin-right: 50px;
}

nav li a:hover {
text-decoration: underline;
}

.card {

    width: 350px;
    height: 350px;
    border-radius: 36px;
    background: #ffffff;
    box-shadow: 20px 20px 60px black;
    text-align: center;

    top: -5%;
    margin-top: 25px;
    margin-left: 65px;

    position: relative;
    transition: 0.7s;
    
   }

.card:hover{
    background: #D3D3D3;
    transition: 1.5s;
    top: -7.5%;
}

.card-expnew:hover{
    background: #D3D3D3;
    transition: 1.5s;
}

.center{
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }



.loginbutton {

    margin-top: 50px;
    margin-left: 1600px;
}

.card-link-button {

    border-radius: 15px;
    border: 0px;
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #8b8989;
}


.card-breaking{

    background-color: #FF0000;
    height: 15%;
    width: 60%;
    top: 50%;
    border-radius: 35px;
    text-align: center;
    position: absolute;
    margin-bottom: 5px;
    left: 0;
}

.card-news{

    background-color: #ffffff;
    height: 15%;
    width: 60%;
    top: 50%;
    border-top-right-radius: 35px;
    position: absolute;
    margin-bottom: 5px;
    left: 40%;
    box-shadow: 10px 10px 30px grey;

}

.card-breaking-text{
    margin: 0;
    position: absolute;
    font-size: 25px;
    font-family: sans-serif;
    color: #cfd9df;
    top: 57.5%;
    left: 12.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.card-news-text{
    margin: 0;
    position: absolute;
    font-size: 25px;
    font-family: sans-serif;
    color: #000000;
    top: 57.5%;
    left: 67.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.card-expnew{
    background-color: #ffffff;
    height: 20%;
    width: 100%;
    top: 65%;
    position: absolute;
    margin-bottom: 5px;
    left:  0%;
    box-shadow: 10px 10px 30px grey;
}

.card-expnew-text{
    margin: 0;
    width: 80%;
    position: absolute;
    font-size: 15px;
    font-family: sans-serif;
    color: #000000;
    top: 75%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    word-break:break-word;
}