html,body {

height: 100%;
background: linear-gradient(to top right, #cfd9df , #e2ebf0 );
}   

header {
background-color: #333333;
color: #fff;
padding: 20px;
}

nav {
float: middle;
text-align: center;
}

nav ul {
display: inline-block;
list-style: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin-top: 4px;
margin-bottom: 4px;
}

nav li a {
color: #fff;
text-decoration: none;
font-size: 15px;
font-weight: bold;
margin-left: 50px;
margin-right: 50px;
}

nav li a:hover {
text-decoration: underline;
}

.card {

    width: 350px;
    height: 350px;
    border-radius: 36px;
    background: #8b8989;
    box-shadow: 20px 20px 60px black;
    text-align: center;

    margin-top: 60px;
    margin-left: 100px;

    position: relative;
    transition: 0.7s;
    
   }

.card:hover{
    background: #D3D3D3;
    transition: 1.5s;
    top: -10px;
}

.center{
        margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
    }



.loginbutton {

    text-margin: center;
    margin-top: 50px;
    margin-left: 1600px;
}