<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> FreeWill Daily News </title>
        <link rel="icon" href="./static/img/logo.jpg" type="image/icon type">
        <link rel="stylesheet" type = "text/css" href="./static/css/styles.css">
    </head>

    <body>

        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="./">       Home</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./faq">    FAQ</a></li>
                        <li><a href="./login">  Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <button class="loginbutton">
            <a href="./login"> Login</a>
        </button>
        
        <div class="card">

            <a class="card-news">
                <a class="card-news-text"> NEWS </a>
            </a>

            <a class="card-breaking"> 
                 <a class="card-breaking-text"> BREAKİNG</a>
            </a>

            <a class="card-expnew">  
                <a class="card-expnew-text">Ahmet Jahrein sonuc kemal kilicdarogluna oy verecegini acikladi </a>
            </a>

            <button class="card-link-button"> 
                    <a href="./sampleNew"> Habere Git</a>
            </button>

        </div>


        <div class="card">

            <a class="card-news">
                <a class="card-news-text"> NEWS </a>
            </a>

            <a class="card-breaking"> 
                 <a class="card-breaking-text"> BREAKİNG</a>
            </a>

            <a class="card-expnew">  
                <a class="card-expnew-text">Ahmet Jahrein sonuc kemal kilicdarogluna oy verecegini acikladi </a>
            </a>

            <button class="card-link-button"> 
                    <a href="./sampleNew"> Habere Git</a>
            </button>

        </div>

    </body>
</html>