<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> FreeWill Daily News </title>
        <link rel="icon" href="./static/img/logo.jpg" type="image/icon type">
        <link rel="stylesheet" type = "text/css" href="./static/css/styles.css">
    </head>

    <body>

        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="./">       Home</a></li>
                        <li><a href="./contact">Contact</a></li>
                        <li><a href="./faq">    FAQ</a></li>
                    </ul>
                </nav>
            </div>
        </header>


        <button class="loginbutton">
            <a href="./login"> Login</a>
        </button>
        
        <div class="card">
            <a class="center"> Ahmet Sonuç oyunu piro kemale vereceğini acikladi</a>
        </div>

    </body>
</html>